@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');
*{
    list-style-type: none;
}
.packages {
    max-width: 1800px;
    padding: 40px 20px;
    text-align: center;
    margin-top: 70px;
}

.packages-heading {
    font-size: 4.3em;
    color: #ffffff;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: "Anton SC";
    letter-spacing: 2px;
    text-align: center;
}

.packages-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.package-box {
    background-color: #ffffffd2;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 30px;
    width: 300px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; /* Center align content */
}

.package-box:hover {
    transform: translateY(-30px);
}
.package-points{
    text-align: left;
}

.package-name {
    font-size: 1.8em;
    color: #02488f;
    margin-bottom: 10px;
    font-family: "Space Grotesk";
    font-weight: bolder;
    text-align: center;
}

.package-price {
    font-size: 1.5em;
    color: #02488f;
    margin-bottom: 20px;
    font-family: "Poppins";
    text-align: center;
}

.package-points {
    padding-left: 0; /* Reset padding */
    text-align: left;
    flex-grow: 1;
    list-style-type: none; /* Ensure list style type is removed */
    margin-top: 10px; /* Adjust margin top */
}

.package-points li {
    font-size: 0.9em;
    color: #02488f;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 600;
    font-family: "Poppins";
}

.package-btn {
    background-color: #02488f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
    margin-top: 20px;
    font-family: "Poppins";
}

.package-btn:hover {
    background-color: #b076e6;
}
